<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Responsive Navbar</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="light-mode" id="body">

  <!-- Navbar -->
  <nav class="bg-gray-800 p-2 text-white">
      <button class="btn btn-primary"><a href="{% url 'userForm' %}">SignUp</a></button>
      <button class="btn btn-primary"><a href="{% url 'loginForm' %}">Login</a></button>
  </nav>

</body>
</html>
